.addCatF1{
  border-right: $barBorderWidth $barBorderStyle $borderColor;
}

.repeat{
  position: relative;
  min-width: fit-content;
  &:hover > .label {
    color: $highlightColor;
    &::before {
      border: 6px solid $lightHighlightColor;
      margin-right: 5px;
    }
  }
}
