
.user-account{

  .login{
    border-right-color: $borderColor;
    border-right-style: $barBorderStyle;
    border-right-width: $barBorderWidth;
  }

  input[type='text']{
    width:100%;
  }


  input[type='password']{
    @extend input[type='text'];
  }
  input[type='password']:focus{
    border-width: $focusBorderWidth;
  }

  input[type='email']{
    @extend input[type='text'];
  }
  input[type='email']:focus{
    border-width: $focusBorderWidth;
  }

}
