.sidebar {
  //padding-top: 10vh;
  height: 90vh;
  z-index: 5;
  width: 0;
  overflow-y: hidden;
  position: absolute;
  //top: 0;
  left: 0;
  overflow-x: hidden;
  transition: $sidenavTransition;
  background-color: $primaryColor;
  border-right-style: $barBorderStyle;
  border-right-color: $highlightColor;

  top: 10vh;


  .SNHeader{

    background-color: $navBackgroundColor;
    height: 17vh;

    .button-container{
      float: left;
    }
    h4{
      color: $navColor;
    }
  }

  .sidebar-content{
    margin-left: $contentMargin;
    height: 73vh;
    overflow-y: scroll;
    .sidenav-search{
      .searchfield{
        width: 80%;

      }
    }
    .label{
      padding-bottom: 0;
    }
  }

  .sidebar-button {
    padding-top: 0;
  }

  .close-btn {
    float: right;
    top: 0;
  }



}
/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
