@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";
html {
  height: 100%; }
  html body {
    margin: 0 0 0 0;
    color: black;
    background: #d3d3d3;
    height: 100%; }
    @media (min-width: 991px) {
      html body .mob-hide {
        display: none; } }
    html body #app {
      height: 100%;
      @import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
      @import url("https://fonts.googleapis.com/css?family=Roboto:100");
      /*.btn {
      border-color: $highlightColor;
      border-width: $barBorderWidth;
      transition: $hoverTransition;
    }

    .btn:hover {

    color: white;
    background-color: $highlightColor;
    border-color: $borderColor;
    transition: ease-out $hoverTransition;
  }*/ }
      html body #app header .navbar {
        z-index: 1;
        top: 0;
        position: fixed;
        width: 100%;
        background: white;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #D3D3D3;
        border-top-color: #ff7733;
        border-top-style: solid;
        border-top-width: 2px; }
        html body #app header .navbar .navbar-brand .logo {
          height: 50px; }
        html body #app header .navbar .categ {
          float: right; }
        html body #app header .navbar .nav-search {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
        html body #app header .navbar .navbar-nav {
          margin-right: 0px;
          width: 98%; }
          html body #app header .navbar .navbar-nav .search-list {
            width: 100%; }
            html body #app header .navbar .navbar-nav .search-list .nav-search {
              width: 100%; }
              html body #app header .navbar .navbar-nav .search-list .nav-search .searchfield {
                width: 74%; }
              html body #app header .navbar .navbar-nav .search-list .nav-search .searchfield:focus {
                outline-color: #ff7733; }
        @media (min-width: 992px) {
          html body #app header .navbar .nav-right {
            float: right;
            padding-right: 0px; }
            html body #app header .navbar .nav-right .nav-link:hover .icon:before {
              transition: 0.5s;
              color: #ff7733; } }
        @media (max-width: 991px) {
          html body #app header .navbar .navbar-nav .search-list {
            display: none; }
          html body #app header .navbar .navbar-nav .fa-plus::before {
            padding-right: 7.8px; }
          html body #app header .navbar .navbar-nav .fa-user::before {
            padding-right: 7.7px; }
          html body #app header .navbar .navbar-nav .fa-users::before {
            padding-right: 0px; } }
        html body #app header .navbar .nav-span {
          color: black;
          padding-left: 5px; }
        html body #app header .navbar .button-list {
          float: right; }
      html body #app .sidebar {
        padding-top: 0;
        height: 100%;
        z-index: 1;
        width: 0;
        margin-top: 86.6px;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        background-color: white;
        border-right-style: solid;
        border-right-color: #D3D3D3; }
        html body #app .sidebar .sidebar-content {
          margin-left: 2%; }
          html body #app .sidebar .sidebar-content .sidenav-search .searchfield {
            width: 80%; }
        html body #app .sidebar .sidebar-button {
          padding-top: 0; }
        html body #app .sidebar .close-btn {
          float: right; }
      html body #app .addCat {
        display: flex; }
        html body #app .addCat .addCatF1 {
          border-right: 2px solid #D3D3D3; }
        html body #app .addCat .addCatF2 .repeat {
          position: relative; }
          html body #app .addCat .addCatF2 .repeat:hover > .label {
            color: #ff7733; }
            html body #app .addCat .addCatF2 .repeat:hover > .label::before {
              border: 6px solid rgba(255, 100, 23, 0.7);
              margin-right: 5px; }
        html body #app .addCat .addCatF2 .radio-btn {
          position: absolute;
          opacity: 0;
          visibility: hidden; }
          html body #app .addCat .addCatF2 .radio-btn:checked + .label {
            color: #ff7733; }
            html body #app .addCat .addCatF2 .radio-btn:checked + .label::before {
              margin-right: 15px;
              border: 6px solid #ff7733;
              background: black; }
        html body #app .addCat .addCatF2 .label {
          display: flex;
          align-items: center;
          padding: 0.75rem 0;
          color: black;
          cursor: pointer;
          transition: all 0.2s linear; }
        html body #app .addCat .addCatF2 .label::before {
          display: inline-block;
          content: "";
          height: 1.125rem;
          width: 1.125rem;
          margin-right: 15px;
          border: 2px solid black;
          border-radius: 50%;
          transition: all 0.2s linear; }
        html body #app .addCat .btn {
          float: right; }
        html body #app .addCat .label__checkbox {
          display: none; }
        html body #app .addCat .label__check {
          display: inline-block;
          border-radius: 50%;
          border: 2px solid black;
          background: white;
          vertical-align: middle;
          margin-right: 20px;
          width: 1.25rem;
          height: 1.25rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: border .3s ease;
          transition: 0.2s; }
          html body #app .addCat .label__check i.icon {
            opacity: 0.2;
            color: transparent;
            transition: opacity .3s .1s ease;
            -webkit-text-stroke: 3px black; }
          html body #app .addCat .label__check:hover {
            border: 5px solid #ff7733; }
        html body #app .addCat .label__checkbox:checked + .label__text .label__check {
          animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
          background-color: #ff7733;
          border-color: #ff7733; }
          html body #app .addCat .label__checkbox:checked + .label__text .label__check .icon {
            opacity: 1;
            transform: scale(0);
            color: white;
            -webkit-text-stroke: 0;
            animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards; }
        html body #app .addCat .center {
          float: left; }
@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.1); }
  to {
    opacity: 1;
    transform: scale(1); } }
      html body #app .button-container {
        position: relative;
        width: fit-content10px;
        overflow: hidden;
        border: 1px solid #ff7733;
        transition: 0.5s;
        letter-spacing: 1px;
        float: right;
        margin-right: 5px; }
        html body #app .button-container button {
          width: fit-content;
          height: 100%;
          letter-spacing: 1px;
          background: white;
          -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
          mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
          -webkit-mask-size: 2300% 100%;
          mask-size: 2300% 100%;
          border: none;
          color: black;
          cursor: pointer;
          -webkit-animation: ani2 1s steps(22) forwards;
          animation: ani2 1s steps(22) forwards; }
          html body #app .button-container button:hover {
            -webkit-animation: ani 1s steps(22) forwards;
            animation: ani 1s steps(22) forwards; }
        html body #app .button-container button:focus {
          outline: 0; }
      html body #app .mas {
        position: absolute;
        color: white;
        background-color: #ff7733;
        text-align: center;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden; }
      html body #app -webkit-keyframes ani from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0; }
      html body #app -webkit-keyframes ani to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0; }
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0; }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0; } }
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0; }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0; } }
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0; }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0; } }
      html body #app input[type='text'], html body #app .mainComponent .user-account input[type='password'], html body #app .mainComponent .user-account input[type='email'] {
        width: 100%;
        outline-color: black; }
      html body #app input[type='text'], html body #app .mainComponent .user-account input[type='password'], html body #app .mainComponent .user-account input[type='email'] {
        outline-color: #ff7733; }
      html body #app #error {
        color: red;
        background: rgba(255, 100, 23, 0.1);
        border-style: solid;
        border-color: white;
        text-align: center; }
      html body #app #preview {
        display: flex;
        align-items: center; }
      html body #app #preview img {
        max-width: 100%;
        max-height: 500px; }
      html body #app .btn {
        text-align: center;
        width: auto;
        cursor: pointer;
        padding-top: 5px;
        margin-right: 5px; }
        html body #app .btn span {
          display: inline-block;
          vertical-align: middle; }
      html body #app .btn-animation {
        color: black;
        transition: all 0.7s;
        position: relative;
        align-items: center; }
      html body #app .btn-animation::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(255, 100, 23, 0.01);
        border: 1px solid #ff6417;
        transition: all 0.7s; }
      html body #app .btn-animation:hover::before {
        opacity: 0;
        transform: scale(0.5, 0.5); }
      html body #app .btn-animation::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0;
        transition: all 0.7s;
        background-color: rgba(255, 100, 23, 0.1);
        border: 2px solid rgba(255, 100, 23, 0.7);
        transform: scale(1.2, 1.2); }
      html body #app .btn-animation:hover::after {
        opacity: 1;
        transform: scale(1, 1); }
      html body #app .icnbtn {
        border: none;
        background-color: transparent;
        outline: none; }
      html body #app .icnbtn:focus {
        box-shadow: none; }
      html body #app .icon::before {
        color: black; }
      html body #app .adm-button {
        display: none; }
      html body #app .icnbtn:hover .icon:before {
        transition: 0.7s;
        color: #ff7733; }
      html body #app .mainComponent {
        background: white;
        min-height: 100%;
        height: auto;
        transition: 0.5s;
        width: 100%;
        padding-top: 103.5px;
        padding-left: 20px;
        padding-right: 20px; }
        html body #app .mainComponent .MC-Main {
          height: 100%;
          display: flex;
          justify-content: center; }
          html body #app .mainComponent .MC-Main h1 {
            color: #ff7733; }
          html body #app .mainComponent .MC-Main .welcome-logo {
            margin-left: 15px; }
        html body #app .mainComponent .row {
          width: 100%;
          margin: 0; }
        html body #app .mainComponent .card-board {
          display: flex;
          justify-content: center; }
          html body #app .mainComponent .card-board .article-cards {
            display: inline-block;
            text-align: center;
            -webkit-box-shadow: inset 4px 4px 10px 3px rgba(0, 0, 0, 0.32);
            -moz-box-shadow: inset 4px 4px 10px 3px rgba(0, 0, 0, 0.32);
            box-shadow: inset 4px 4px 10px 3px rgba(0, 0, 0, 0.32);
            height: 45vh;
            margin-left: 5px;
            margin-top: 5px; }
            html body #app .mainComponent .card-board .article-cards p {
              overflow: hidden;
              text-overflow: ellipsis;
              margin-bottom: 8px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              /* number of lines to show */ }
            html body #app .mainComponent .card-board .article-cards h4 {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1; }
            html body #app .mainComponent .card-board .article-cards h5 {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1; }
            html body #app .mainComponent .card-board .article-cards img {
              height: 22.5vh; }
        html body #app .mainComponent .user-account .login {
          border-right-color: #D3D3D3;
          border-right-style: solid;
          border-right-width: 2px; }
        html body #app .mainComponent .user-account input[type='text'], html body #app .mainComponent .user-account input[type='password'], html body #app .mainComponent .user-account input[type='email'] {
          width: 100%;
          margin-bottom: 10px;
          padding-left: 1px; }
      @media (max-width: 425px) {
        html body #app .mainComponent {
          padding-top: 153.5px; } }

/*# sourceMappingURL=main.css.map */
