@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';


$outerColor: #d3d3d3;
$primaryColor: white;
$fontColor: black;
$borderColor: #D3D3D3;
$contentRadius: 25px 25px 25px 25px;
$contentMargin: 2%;
$barBorderStyle: solid;
$barBorderWidth: 2px;
$highlightColor: #ff7733;
$lightHighlightColor: rgba(255,100,23,0.7);
$logoHeight: 50px;
$sidenavTransition: 0.5s;
$mediaMaxWidth: 991px;
$mediaMinWidth: 992px;
$textPadding: 20px;
$hoverTransition: 0.7s;

html {
  height: 100%;

  body {

    @media (min-width: $mediaMaxWidth) {
      .mob-hide {
        display: none;
      }
    }
    margin: 0 0 0 0;
    color: $fontColor;
    background: $outerColor;
    height: 100%;

    #app{
      height: 100%;
      header {


        @import "navbar";
      }
      @import "sidebar";
      @import "addCat";






      @import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
      @import url('https://fonts.googleapis.com/css?family=Roboto:100');

      @mixin button($bcolor,
      $url,
      $x1,
      $y1,
      $bor,
      $col) {
        background: white;
        -webkit-mask: url($url);
        mask: url($url);
        -webkit-mask-size: $x1 $y1;
        mask-size: $x1 $y1;
        border: $bor;
        color: $fontColor;
      }



      .button-container {
        position: relative;
        width: fit-content + 10px;
        overflow: hidden;
        border: 1px solid $highlightColor;
        transition: 0.5s;
        letter-spacing: 1px;
        float: right;
        margin-right: 5px;

        button {
          width: fit-content;
          height: 100%;
          letter-spacing: 1px;
          @include button(#000,
          "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png",
          2300%,
          100%,
          none,
          #fff);
          cursor: pointer;
          -webkit-animation: ani2 1s steps(22) forwards;
          animation: ani2 1s steps(22) forwards;

          &:hover {
            -webkit-animation: ani 1s steps(22) forwards;
            animation: ani 1s steps(22) forwards;
          }
        }
        button:focus{
          outline: 0;
        }
      }

      .mas {
        position: absolute;
        color: white;
        background-color: $highlightColor;
        text-align: center;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
      }

      -webkit-keyframes ani {
        from {
          -webkit-mask-position: 0 0;
          mask-position: 0 0;
        }

        to {
          -webkit-mask-position: 100% 0;
          mask-position: 100% 0;
        }
      }

      @keyframes ani {
        from {
          -webkit-mask-position: 0 0;
          mask-position: 0 0;
        }

        to {
          -webkit-mask-position: 100% 0;
          mask-position: 100% 0;
        }
      }


      @-webkit-keyframes ani2 {
        from {
          -webkit-mask-position: 100% 0;
          mask-position: 100% 0;
        }

        to {
          -webkit-mask-position: 0 0;
          mask-position: 0 0;
        }
      }

      @keyframes ani2 {
        from {
          -webkit-mask-position: 100% 0;
          mask-position: 100% 0;
        }

        to {
          -webkit-mask-position: 0 0;
          mask-position: 0 0;
        }
      }
























      input[type='text']{
        width:100%;
        outline-color: black;
      }
      input[type='text']{
        outline-color: $highlightColor;
      }
      /*.btn {
      border-color: $highlightColor;
      border-width: $barBorderWidth;
      transition: $hoverTransition;
    }

    .btn:hover {

    color: white;
    background-color: $highlightColor;
    border-color: $borderColor;
    transition: ease-out $hoverTransition;
  }*/

  #error{
    color: red;
    background: rgba(255,100,23,0.1);
    border-style: $barBorderStyle;
    border-color: $primaryColor;
    text-align: center;
  }

  #preview {
    display: flex;
    align-items: center;
  }

  #preview img {
    max-width: 100%;
    max-height: 500px;
  }

  .btn {
    text-align: center;
    width: auto;
    cursor: pointer;
    padding-top: 5px;
    margin-right: 5px;

    span{
      display: inline-block;
      vertical-align: middle;
    }
  }

  .btn:active{

  }

  .btn-animation {
    color: black;
    transition: all $hoverTransition;
    position: relative;
    align-items: center;

  }
  .btn-animation::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(255,100,23,0.01);
    border: 1px solid rgba(255,100,23,1);
    transition: all $hoverTransition;
  }
  .btn-animation:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .btn-animation::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    transition: all $hoverTransition;
    background-color: rgba(255,100,23,0.1);
    border: 2px solid $lightHighlightColor;
    transform: scale(1.2,1.2);
  }
  .btn-animation:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }

  .icnbtn {
    border: none;
    background-color: transparent;
    outline: none;
  }

  .icnbtn:focus {
    box-shadow: none;
  }

  .icon::before {
    color: $fontColor;
  }


  .adm-button {
    display: none;
  }


  .icnbtn:hover {
    .icon:before {
      transition: $hoverTransition;
      color: $highlightColor;

    }
  }

  .mainComponent {
    background: $primaryColor;
    min-height: 100%;
    height: auto;
    transition: $sidenavTransition;
    width: 100%;
    padding-top: 83.5px + $textPadding;
    padding-left: $textPadding;
    padding-right: $textPadding;

    .MC-Main{
      height: 100%;
      h1{
        color: $highlightColor;
      }
      display: flex;
      justify-content: center;

      .welcome-logo{
        margin-left: 15px;
      }
    }

    .row{
      width: 100%;
      margin: 0;
    }
    .card-board{
      display: flex;
      justify-content: center;
      .article-cards{
        display: inline-block;
        text-align: center;
        -webkit-box-shadow: inset 4px 4px 10px 3px rgba(0,0,0,0.32);
        -moz-box-shadow: inset 4px 4px 10px 3px rgba(0,0,0,0.32);
        box-shadow: inset 4px 4px 10px 3px rgba(0,0,0,0.32);
        height: 45vh;
        margin-left: 5px;
        margin-top: 5px;
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 8px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2; /* number of lines to show */
        }
        h4{
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
        h5{
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
        img{
          height: 22.5vh;
        }
      }
    }

    @import "login";


  }

  @media (max-width: 425px) {
    .mainComponent{
      padding-top: 83.5px + $textPadding + $logoHeight;
    }
  }

}
}

}
